<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="profile-card">
      <!-- Campo para a foto com img tag -->
      <img src="assets/img/romario.jpg" class="profile-image">

      <!-- Informações ao lado da imagem -->
      <div class="profile-info">
        <p><strong>Nome:</strong> Romário D. Gonzaga</p>
        <p><strong>Matrícula:</strong> 23200337</p>
        <p><strong>Turma:</strong> ADS301M</p>
      </div>
    </div>
  </div>
</ion-content>
